*{
    box-sizing: border-box;
    padding: 0;
}
img{
    width: 100%;
}
a{
    color: black;
    display: inline-block;
}
span{
    display: inline-block;
}

html{
    direction: rtl;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

body{
    background-color: #f9fafb;
}


:root{
    --border-color:#e5e7eb;
    --background-color:#fff;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04),
                  0 4px 12px rgba(0, 0, 0, 0.06);
    --text-color: #6A7282;

}


.container {  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "aside navbar navbar navbar"
    "aside card1 card2 card3"
    "aside activities transactions transactions"
    "aside bills transactions transactions"
    "aside overview income payement"
    "aside overview summary payement";
}

.aside { grid-area: aside; }

.navbar { grid-area: navbar; }

.card1 { grid-area: card1; }

.card2 { grid-area: card2; }

.card3 { grid-area: card3; }

.transactions { grid-area: transactions; }

.activities { grid-area: activities; }

.bills { grid-area: bills; }

.overview { grid-area: overview; }

.income { grid-area: income; }

.summary { grid-area: summary; }

.payement { grid-area: payement; }

.aside{
    position: fixed;
    top: 0;
    right: 0;
    left: 1600px;
    height: 100vh;
    border-left: 1px solid #e5e7eb;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04),
                  0 4px 12px rgba(0, 0, 0, 0.06);
    
}


.aside .header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 30px;


}


 .aside .header .content{
    margin: auto;
    width: 45%;

}

.content h1{
    font-size: 42px;
    line-height: 50px;
    margin: 0;
}

.content p{
    margin: 0;
}

.image{

    text-align: center;
    margin: auto 30px auto 0;

    padding: 20px;
    border-radius: 20px;
    background-color: #3e3be1;
}

.links{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 30px;
}

.links ul{
    width: 85%;
    margin: auto;

}

.links ul .first-li{
    background-color: #eff6ff;
    border: 1px solid #cde2ff;
    color: #3e3be1;
    font-weight: 800;
}

.links ul .box-hover{
    cursor: pointer;
    transition: 0.3s ease-out
}



.links ul .box-hover:hover{
    background-color: #f8f8f8;
}

.links ul li{
    font-weight: 800;
    color: #4c5766;;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right:20px ;
    gap: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}


.services{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 30px;
}

.services .head{
    margin-right:35px ;
}


.services ul{
    width: 85%;
    margin: auto;

}



.services ul .first-li{
    background-color: #dfecfc;
    color: #3e3be1;
    font-weight: 600;
}

.services ul .box-hover{
    cursor: pointer;
    transition: 0.2s ease-out;
}

.services ul .box-hover:hover{
    background-color: #f8f8f8;
    color: black;
    font-weight: 900;
    translate: 5px;
}

.services ul .box-hover:hover .icon-clr1{
    background-color: #ceddf3;
}

.services ul .box-hover:hover .icon-clr2{
    background-color:#cdf5dd ;
}

.services ul .box-hover:hover .icon-clr3{
    background-color:#e0c5f3 ;

}


.services ul .box-hover:hover .icon-clr4{
    background-color:#fadac3 ;

}


.services .icon{
    padding: 10px;
    border-radius: 5px;
}

.services .icon-clr1{
    background-color: #e9f2ff;
}

.services .icon-clr2{
    background-color: #e5f9ed;
}


.services .icon-clr3{
    background-color: #f7ecff;
}



.services .icon-clr4{
    background-color:#fff0e5;
}


.services ul li{
    font-weight: 600;
    color: #4c5766;;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right:20px ;
    gap: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}



.navbar{
    box-shadow: 5px 5px 0 #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 30px;
 background: #F5F6FB;
background: linear-gradient(90deg, rgba(245, 246, 251, 1) 0%, rgba(244, 246, 249, 1) 100%, rgba(255, 255, 255, 1) 50%);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04),
                  0 4px 12px rgba(0, 0, 0, 0.06);
    width: 100%;
}

.navbar .right-side-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.navbar .status{
    font-weight: 800;
    color: #1e914e;
    padding: 2px 20px;
    background-color: #f0fdf4;
    border: 1px solid #cdf5dd;
    border-radius:10px;

}

.navbar .status::before{
    content: "";
    width: 2px;
    height: 2px;
    background-color: #48d881;
    font-size: 4px;
    padding:1px 4px;
    border-radius: 50%;
    margin-left:7px ;
}


.navbar .left-side-section{
    padding: 20px;
        display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 10px;
    align-items: center;
}


.navbar .left-side-section .card{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04),
                0 4px 12px rgba(0, 0, 0, 0.06);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap:wrap ;
    gap: 10px;
    transition: 0.2s ease-out;
}

.navbar .left-side-section .card:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04),
                0 4px 12px rgba(0, 0, 0, 0.06);

}


.navbar .left-side-section .card .text{
    font-weight: 900;
    color: #000000;
    line-height: 20px;
    display: flex;
    flex-direction: column;

}

.navbar .left-side-section .card .text .siz{
    color: #6b7383;
    font-size: 13px;
    font-weight: 900;
}




.left-side-section .card img{
    align-self: center;
    width: 40px;
    border-radius: 10px;
}


.navbar .left-side-section .btn{
    width: 40px;
    height: 40px;
    border: 1px solid #e5e7eb ;
    background-color: white;
    border-radius: 10px;
    transition: 0.2s ease-out;
}

.navbar .left-side-section .btn:hover{
    background-color: #e5e7eb;
}


.btn-notification{
    position: relative;
}
.btn-notification .notification{
    position: absolute;
    padding:0   4px;
    border-radius: 50%;
        top:0%;
    right: 0%;
    transform: translateY(-6px);
    background-color: red;
}

.btn-notification span{
    font-size: 12px;
    color: white;
    font-weight: 800;

}

.card{
    border: 1px solid var(--border-color);
    background-color: #fff;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    padding: 20px;
}


.card .section{
    padding-right: 20px;
}

.card .section p
{
    font-weight: 600;
    color: var(--text-color);
    margin-bottom:0 ;
}

.card .section h2{
    font-size: 36px;
    margin: 0;

}


.card .section span{
    font-weight: 600;
    font-size: 12px;
    color: #00A63E;
}

.card .section .spn-red{
    color: red;
}

